
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

/** resetar todos os elementos**/
* {
    margin: 0px;
    padding: 0px;   
}

/** definir todos os elementos**/
html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw; /** aumenta a fonte proporcional a 10% da largura da tela, não é o ideal, o melhor seria usar o Midia Queryes, mas não foi ensinado ainda **/
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

/** criando um saction geral para valer para todos os sections, e soma0se aos sactions específicos, colocando percentual da altura 10vh fica responsivo **/

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw; /** aumenta a fonte proporcional a 3.5% da largura da tela, não é o ideal, o melhor seria usar o Midia Queryes, mas não foi ensinado ainda **/
} 

/** criando um paragrafo em branco nas poesias que estão em parágragos difer3entes dentro da mesma section **/
section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color:  rgb(59, 59, 59);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.541) /** cria uma sombra interna na imagem para dar um efeito que la está rasgada no papel, afundada no papel **/;
    background-size: cover; /** reduz o tamanho da imagem de fundo **/ 
    background-attachment: fixed; /** fixa a imagem criando o efeito paralax **/
}

/** criando uma caixa em volta do paragrafo escuro, para que a imagem não suge a letra branca**/

section.imagem > p {
   /** width: 400px; **/
    display: inline-block; /**em vez de width fixo 400px, cria uma cx proporcional ao tamano do conteúdo**/
    padding: 5px; /**para não colar o conteúdo nas bordas**/
    background-color: rgba(0, 0, 0, 0.479);
    text-shadow: 1px 1px 0px black;  
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}